<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Add Fund To Your Account</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/shop-page">Pages</a></li>
        <li class="breadcrumb-item active text-white">Add Fund</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Contact Start -->
<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                <div class="col-12">
                    <div class="text-center mx-auto" style="max-width: 700px;">
                        <h1 class="text-primary">Add Fund</h1>
                        <p class="mb-4" style="font-size: 22px;">Scan the QR code below and enter the transfer details
                            as "NAPTHE + username +
                            amount". For example, "NAPTHE dqa 500000". Then, wait for the system to update your balance
                            within 5 minutes. If you encounter any issues, please contact me via <a
                                href="https://www.facebook.com/dqa0604">My Facebook</a>.</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="h-100 rounded">
                        <img src="../img/qrcode.jpg" class="img-fluid d-flex justify-content-center mx-auto rounded-top"
                            style="max-width: 35%;" alt="qrcode">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->