<div style="margin-top: 160px">
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{user.name}}</h5>

                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="card mb-4">
                        <form method="POST" id="change-password-forms">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Old Password</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input name="oldPass" type="password" class="form-control">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">New Password</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input name="newPassword" type="password" class="form-control new-password">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Repeat New Password</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control repeat-new-password">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <button type="button" class="btn btn-primary btn-change-password"
                        style="float: right; background-color: #000; color: #fff" data-id="{{user._id}}"
                        data-password="{{user.password}}">Change</button>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- JavaScript Libraries -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var btnEdit = $('.btn-change-password');
        var changeForms = document.forms['change-password-forms'];
        var oldPassword;
        var newPassword = $('.new-password');
        var repeatNewPassword = $('.repeatNewPassword');
        var userId;
        btnEdit.on('click', function () {
            var isSubmit = true;
            userId = btnEdit.data('id');
            oldPassword = btnEdit.data('password');
            $("input[type='password']").each(function () {
                if ($(this).val().trim() === "") {
                    alert('Vui Lòng Nhập Đầy Đủ Dữ Liệu');
                    isSubmit = false;
                    return false;
                }
            })
            if (newPassword !== repeatNewPassword) {
                return alert("Wrong Comfirm Password");
            }
            if (isSubmit) {
                changeForms.action = `/user/change-password-submit/` + userId + '?_method=PUT';
                changeForms.submit();
            }
        })
    })
</script>